## Deliverable 3. Create a Travel Itinerary Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Touros,BR,77.00,broken clouds,-5.20,-35.46,INN NEW HORIZON
1,7,San Quintin,MX,79.29,clear sky,30.48,-115.95,Old Mill Hotel
2,9,Hilo,US,84.20,overcast clouds,19.73,-155.09,Hilo Hawaiian Hotel
3,18,Salalah,OM,77.00,light intensity drizzle,17.02,54.09,HAMDAN PLAZA HOTEL
4,25,Semnan,IR,75.31,clear sky,35.57,53.40,Semnan Tourist Hotel

In [173]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [174]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, -10), zoom_level=2.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Torrevieja"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Torrevieja"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Ibi"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Portalegre"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Olhao"]

In [127]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat", "Lng"]].to_numpy()

for i in start:
    start = i[0],i[1]
    
end = vacation_end[["Lat", "Lng"]].to_numpy()

for i in end:
    end = i[0],i[1]
    
stop1 = vacation_stop1[["Lat", "Lng"]].to_numpy()

for i in stop1:
    stop1 = i[0],i[1]
    
stop2 = vacation_stop2[["Lat", "Lng"]].to_numpy()

for i in stop2:
    stop2 = i[0],i[1]

stop3 = vacation_stop3[["Lat", "Lng"]].to_numpy()

for i in stop3:
    stop3 = i[0],i[1]

In [193]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
start2end = gmaps.directions_layer(
        start, end, waypoints=[stop1,stop2,stop3],
        travel_mode='DRIVING')
fig.add_layer(start2end)
fig

Figure(layout=FigureLayout(height='420px'))

In [165]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,334,Torrevieja,ES,82.00,clear sky,37.98,-0.68,Hotel Fontana Plaza
1,337,Ibi,ES,81.00,clear sky,38.63,-0.57,Hotel Plata
2,310,Portalegre,PT,78.01,clear sky,39.29,-7.43,Rossio Hotel
3,620,Olhao,PT,75.20,clear sky,37.03,-7.84,Real Marina Hotel & Spa

In [198]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [200]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=info)
fig = gmaps.figure(start2end)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))